<a href="https://colab.research.google.com/github/Kanareiika/DeepLearningSchool/blob/master/03.%20Pandas%2C%20Matplotlib%2C%20ML%20basics/%5Bhomework%5Dpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [0]:
#!pip install pandas

In [0]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://www.kaggle.com/mehdidag/black-friday

In [0]:
data = pd.read_csv('https://github.com/Kanareiika/dlschool/raw/master/03.%20Pandas%2C%20Matplotlib%2C%20ML%20basics/black-friday/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [4]:
data

        User_ID Product_ID  ... Product_Category_3 Purchase
0       1000001  P00069042  ...                NaN     8370
1       1000001  P00248942  ...               14.0    15200
2       1000001  P00087842  ...                NaN     1422
3       1000001  P00085442  ...                NaN     1057
4       1000002  P00285442  ...                NaN     7969
5       1000003  P00193542  ...                NaN    15227
6       1000004  P00184942  ...               17.0    19215
7       1000004  P00346142  ...                NaN    15854
8       1000004   P0097242  ...                NaN    15686
9       1000005  P00274942  ...                NaN     7871
10      1000005  P00251242  ...                NaN     5254
11      1000005  P00014542  ...                NaN     3957
12      1000005  P00031342  ...                NaN     6073
13      1000005  P00145042  ...                5.0    15665
14      1000006  P00231342  ...               14.0     5378
15      1000006  P00190242  ...                NaN     2079
16      1000006   P0096642  ...                4.0    13055
17      1000006  P00058442  ...                NaN     8851
18      1000007  P00036842  ...               16.0    11788
19      1000008  P00249542  ...               15.0    19614
20      1000008  P00220442  ...                NaN     8584
21      1000008  P00156442  ...                NaN     9872
22      1000008  P00213742  ...                NaN     9743
23      1000008  P00214442  ...                NaN     5982
24      1000008  P00303442  ...               14.0    11927
25      1000009  P00135742  ...                NaN    16662
26      1000009  P00039942  ...                NaN     5887
27      1000009  P00161442  ...                NaN     6973
28      1000009  P00078742  ...               14.0     5391
29      1000010  P00085942  ...                8.0    16352
...         ...        ...  ...                ...      ...
537547  1004733  P00244042  ...               15.0    11543
537548  1004734  P00111042  ...                NaN    20924
537549  1004734  P00345842  ...               14.0    13082
537550  1004735  P00278242  ...                NaN    11658
537551  1004735  P00313442  ...                8.0     6863
537552  1004735   P0098642  ...                NaN    16415
537553  1004735  P00119342  ...                NaN    18526
537554  1004735  P00114042  ...                NaN     7099
537555  1004735  P00135142  ...                NaN      578
537556  1004736  P00194542  ...                NaN     2183
537557  1004736  P00175242  ...                NaN    12724
537558  1004736  P00101942  ...                NaN     7796
537559  1004736  P00109142  ...                NaN     7770
537560  1004736  P00084842  ...                NaN     5940
537561  1004736  P00078142  ...                NaN     7834
537562  1004736  P00146742  ...               14.0    11508
537563  1004736  P00154642  ...                NaN     6074
537564  1004736  P00117442  ...                NaN     7084
537565  1004736  P00051142  ...                NaN     7934
537566  1004736  P00048742  ...                NaN     5350
537567  1004736  P00157542  ...                NaN     1994
537568  1004736  P00250642  ...                NaN     5930
537569  1004736  P00023142  ...                NaN     7042
537570  1004736  P00162442  ...                NaN    15491
537571  1004737  P00221442  ...                5.0    11852
537572  1004737  P00193542  ...                NaN    11664
537573  1004737  P00111142  ...               16.0    19196
537574  1004737  P00345942  ...                NaN     8043
537575  1004737  P00285842  ...                NaN     7172
537576  1004737  P00118242  ...                NaN     6875

[537577 rows x 12 columns]

In [6]:
data.info()
type(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/mehdidag/black-friday/home)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [30]:
#len(np.unique(data['Age']))
np.unique(data['Age'])

array(['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+'],
      dtype=object)

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [12]:
len(data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')])

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [13]:
len(  data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000)]  )

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [29]:
sum (np.isnan (data['Product_Category_3'])  )

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [35]:
np.unique(data['Age'])[3:]

array(['36-45', '46-50', '51-55', '55+'], dtype=object)

In [46]:
(
  len(  data[(data['Gender'] == 'M') & (data['Age'] == '26-35')]  ) +
  len(  data[  (data['Gender'] == 'F') & (data['Age'] in np.unique(data['Age'])[3:])  ]  ) # оператор in не работает :(
) / len(data)

ValueError: ignored

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).